	#inpt{
		margin-top: 10px;

	}

	#car{
		margin-top: 10px;
	}

	#inptf{
		margin-top: 15px;
		margin-bottom: 5px;
		border-color: #FFD700;
		color: #FFD700;
		border-radius: 0%;

	}

	#inptf:hover{
		background-color: #FFD700;
		color: black;
	}

	#contato{
		background-color: transparent;

		margin-top: 80px;
		border: 1px solid #FFD700;
		padding: 20px;
		box-shadow: 2 5px 10px 50px black;
		transition: box-shadow 0.5s;

		  
	}

	#contato:hover{
		box-shadow: 0 8px 12px 0 black, 0 8px 12px 0 black;

	}

	#infos{
		border: 2px solid red;
		border-radius: 1%;
		margin-top: 10px;
		transition: box-shadow 0.5s;

	}

	#infos:hover{
		box-shadow: 0 8px 12px 0 black, 0 8px 12px 0 black;

	}

	.tst{
		box-shadow: 10px 10px 5px grey;
		height: 10px;

	}

	footer a {
		color: red;
	}

	footer a:hover{
		color: darkred;
	}

	#title{
		color: yellow;
		margin-top: 8px;
		margin-bottom: 25px;
		-webkit-text-stroke-width: 1px; /* largura da borda */
		-webkit-text-stroke-color: #000; /* cor da borda */
	}

	#ttexto{
		color: #727272;
		font-family: impact;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: black;
	}

	.parallax{
		margin-top: 10px;
	}

	.parallax {
  	/* The image used */
  	background-image: url("../img/ita2.jpg");
  	margin-top: -20px;
  	/* Set a specific height */
  	min-height: 600px;


  	/* Create the parallax scrolling effect */
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-bottom: 30px;
	}

	#titulovideo{
		color: #727272;
		font-family: impact;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: black;
	}

	#telefones{
		background-color: red;
		border-radius: 2%;
		margin-bottom: 10px;
	}
	

	.page-footer {
	  padding: 2.5rem 0;
	  color: white;
	  text-align: center;
	  background-color: black;
	  border-top: .25rem solid black;
	}
	.page-footer p:last-child {
	  margin-bottom: 0;
	}

	#mapa{
		margin-top: 30px;
		margin-right: 10px;
	}

	#wpp{
		width: 100px;
		height: 50px;
		margin-top: 140px; /* altura que está do topo */
	    top: 50px; /* altura que vai parar antes do topo */
	    position: sticky;
	}

	#titulovalor{
		color: #FFD700;
		font-family: Jazz LET, fantasy;
		margin-top: 15px;
		-webkit-text-stroke-width: 2px; /* largura da borda */
		-webkit-text-stroke-color: #000; /* cor da borda */
	}
	
	#stitulovalor{
		color: #FFD700;
		font-family: Jazz LET, fantasy;
		margin-top: 5px;
		-webkit-text-stroke-width: 2px; /* largura da borda */
		-webkit-text-stroke-color: #000; /* cor da borda */
	}

	html {
    	overflow-y: scroll;
   		scroll-behavior: smooth;
	}

	#linknav{
		color: red;
	}

	#linknav:hover{
		color: darkred;
	}

	#topo{

	}

	.carousel-item img{
		min-width: 100%;
		height: 310px; 
	}

	#titulo1 h1{

		color: white;
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: #000;

	}

	#subtitulo1 h2{
		color: white;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #000;		
	}

	#btn1 a{
		border-radius: 100%;
	}

	#btn1 i{
		margin-left: 5px;
	}

	#titulo2 {
		color: #FFD700;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
	
		padding-bottom: 15px;
	}

	#titulo3 {
		color: skyblue;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
	
		padding-bottom: 15px;
	}

	#titulocards{
		padding-top: 16px;
	}

	/*.card-body{
		background-color: #40E0D0; 
		color: white;
		border-color: #40E0D0;

	}*/

	/* .card-body:hover{
		background-color: #00CED1;
		color: white;
	}*/

	/* #titulos{
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
	} */

	body{
		background-color: #DAA520;

	}

	#invesq{
		background-color: red;
		border-radius: 2%;
		width: 80%;
	}

	#entrega{
		color: yellow;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
	}

	.imgfinal{
		background-image: url("../img/morro.jpg");
		margin-top: 10px;
		/* Set a specific height */
		min-height: 600px;


		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: -32px;
	}

	#centerctt{
		display: none;
	}

	#valoresid{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#met{
		color: white;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
		font-size: 90px;
	}

	#t1{
		color: white;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
		font-size: 40px;
	}

	#t2{
		color: white;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 
		font-size: 35px;
	}

	#ft{
	}

	#fta{
		margin-top: -40px;

	}

	#real{
		margin-top: 30px;
		color: white;
		-webkit-text-stroke-width: 2px; 
		-webkit-text-stroke-color: #000; 

	}