@media (min-width:  575px){

	.parte2 h1{
		font-size: 60px;
	}

	#img-inv2{
		display: none;
	}

	#mega{
		padding-left: 60px; margin-right: -20px;
	}

	#mobile{
		display: none;
	}

	#invest-img{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#img-inv{
		background:url("../img/imovel/invest.png") center;
		background-size: cover !important;
		width: 120% !important;
		height: auto;
		height: 550px;
	}

	#img-inv img{
		display: none;
	}

	#texto-sonho{
		margin-top: 250px;
		font-size: 80px;
	}

	#txt-carro{
		padding-top: 60px;
	}

	.botao3{

		font-size: 30px;
	}

	#imgita{
		height: 100%;
	}

	#mincol{
		display: none;
	}

	#instagram{
		margin-left: -50px;
	}

	#titulo1{
		padding-top: 200px;

	}
	#titulo1 h1{
		font-size: 60px;
		color: white;
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: #000;

	}

	#btn1{
		width:400px;
	}

	#btn1 a{
		font-size:80px;
	}

	#btn1 h6{
		font-size:30px;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: #000;
	}

	#btn1 i{
		margin-left: 5px;
	}

	#colbtn2{
		margin-top: 50px;
	}

}

@media (max-width:  575px){

	#circ{
		padding-bottom: 15px;
	}

	#img-inv{
		width: 100%;
	}


	#texto-sonho{
		margin-top: 200px;
		font-size: 84px;
	}

	#img-sonho{

	}

	#bt1{
		font-size: 20px;
		width: 60%;
	}

	#colbtn2{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#topo{
		padding-bottom: 20px;
	}

	#logo{
		margin-top: -90px;
	}

	#facebook {
		padding-top: 20px;
	}

	#maxcol{
		display: none;
	}

	#titulo1{
		padding-top: 210px;
		text-align: center;
	}

	#parte2{
		margin-top: 50px;
	}
	.imgs{
		margin-top: 990px;
	}
	
	#contato div{
		width: 90%;
		text-align: center;
	}
	.parallax{
	}

	#parte3{
		margin-top: 50px;
		padding-top: -100px;
	}

	#valores{
		margin-bottom: 400px;
	}

	#contato{
		width: 90%;
		margin-bottom: 30px;
	}

	#cards{
		padding-top: 30px;
	}

	#p3{
		margin-top: -55px;
	}

	#parte4-pc{
		margin-top: 450px;
	}
}	

@media (max-width:  500px){

	#parte3{
		margin-top: 50px;
	}

}	